/* Sample */
.dropdown-menu {
    border: 1px solid #ddd;
    background-color: white;
    max-height: 200px;
    overflow: auto;
    overflow-x: -moz-hidden-unscrollable;
    overflow-x: hidden;
}
.dropdown-menu li {
    border-top: 1px solid #ddd;
    padding: 2px 5px;
    margin: 0px;
    white-space: nowrap;
}
.dropdown-menu li.textcomplete-header, .dropdown-menu li.textcomplete-footer {
    text-align: center;
    color: #000;
}
.dropdown-menu li a {
    color: #000;
    margin-right: 15px;
}
.dropdown-menu li:first-child {
    border-top: none;
}
.dropdown-menu li:hover, .dropdown-menu .active {
    background-color: rgb(110, 183, 219);
}

/* SHOULD not modify */
.dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.dropdown-menu a:hover {
    cursor: pointer;
}
#textcomplete-dropdown-1 {
    min-width: 300px;
}
.page-info-toolbar button {
    display: block;
}
.ui-dialog {
    padding: .3em;
}
.update-tip {
    border: 1px solid transparent;
    padding: 0.3em;
}
.ui-widget {
    font-size: inherit;
}

#results {
	background-color: #fff;
    width: 320px;
    height: 83px;
    overflow: auto;
    border: 1px solid #ccc;
    text-align: left;
    line-height: 1;
}

#results a{
	color: green;
	display: block;
    padding-left: 22px;
    min-height: 16px;
    background: transparent 3px center no-repeat;
}

#results div.type_d a {
    background-image: url(/dokuwiki/lib/tpl/dokuwiki/../../images/ns.png);
}

#results div.type_f a {
    background-image: url(/dokuwiki/lib/tpl/dokuwiki/../../images/page.png);
}

#results div.even {
    background-color: #ddd;
}

#results div.type_u a {
    background-image: url(/dokuwiki/lib/images/toolbar/../../plugins/contentassist/download.png);
}

#results div{
	padding: 3px 3px 3px 0;
}